# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Env files
.env
.env.local
.env.*.local

# Logs
logs
*.log
pids
*.pid
*.seed

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
